@import url('base/_variables.css');
@import url('base/_reset.css');
@import url('base/_typography.css');

@import url('utilities/_layout.css');
@import url('utilities/_spacing.css');
@import url('utilities/_effects.css');

@import url('components/_buttons.css');
@import url('components/_forms.css');
@import url('components/_cards.css');
@import url('components/_badges.css');

@import url('pages/_home.css');
@import url('pages/_generator.css');
@import url('pages/_scanner.css');
@import url('pages/_libraries.css');

@import url('animations/_barcode-loader.css');

@import url('errors/_error-ui.css');