.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--bg-dark);
    min-width: 0;
}

.sidebar {
    background-color: var(--bg-card);
    border-right: 1px solid var(--border);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

    .content > * {
        flex: 1;
        min-height: 0;
    }

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }
}
