/* Blazor Error UI */

#blazor-error-ui {
    background: #b91c1c;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
    text-align: center;
    font-weight: 500;
}

    #blazor-error-ui .reload,
    #blazor-error-ui .dismiss {
        color: white;
        margin-left: 1rem;
        text-decoration: underline;
        cursor: pointer;
    }

    #blazor-error-ui .dismiss {
        text-decoration: none;
        font-size: 1.25rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
